.header {
  text-align: center;

  &__logo {
    display: block;
    margin: 0 auto 4rem auto;
  }

  &__span {
    color: var(--color-neutral-gray);
    font-weight: 300;
  }

  &__text {
    font-size: 1.8rem;
  }
}

.main {
  margin: 0 auto;
  padding: 0 2em;
  @media only screen and (max-width: $bp-small) {
    padding: 0 1em;
  }

  &__form {
    display: flex;
    align-items: baseline;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      align-items: stretch;
      padding: 0 1em;

      & > *:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__form-field {
    flex: 0 0 65%;
  }

  &__input {
    padding: 1.2em 2em;
    border-radius: 2.7rem;
    border: 0.1rem solid var(--color-secondary-pale-blue);
    width: 95%;
    font-family: inherit;
    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }

    &:focus {
      outline: none;
    }
    &:focus::placeholder {
      visibility: hidden;
    }

    &::placeholder {
      color: var(--color-secondary-pale-blue);
      font-size: 1.6rem;
      font-weight: 300;
    }
  }

  &__form-error-text {
    font-size: 1.4rem;
    padding-left: 2em;
    margin-top: 1rem;
    color: var(--color-secondary-light-red);
    display: none;
    @media only screen and (max-width: $bp-small) {
      margin-bottom: 2rem;
      padding: 0;
      text-align: center;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-neutral-gray);
  font-size: 1.4rem;
  & > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  &__icon-container {
    display: flex;
    justify-content: center;

    & > *:not(:last-child) {
      margin-right: 1.2rem;
    }
  }
  &__social-media-link {
    &:hover .footer__social-media-icon {
      fill: #fff;
      background-color: var(--color-primary-blue);
    }
  }
  &__social-media-icon {
    width: 3.2rem;
    height: 3.2rem;
    box-shadow: 0 0px 3px var(--color-secondary-pale-blue);
    border-radius: 50%;
    padding: 0.4em;
    fill: var(--color-primary-blue);
    transition: all 0.1s;
  }

  &__attribution {
    text-align: center;
  }
}
