.header {
  text-align: center;

  &__logo {
    display: block;
    margin: 0 auto 4rem auto;
  }

  &__span {
    color: var(--color-neutral-gray);
    font-weight: 300;
  }

  &__text {
    font-size: 1.8rem;
  }
}

.main {
  margin: 0 auto;
  padding: 0 2em;

  &__form {
    display: flex;
  }

  &__form-field {
    flex: 0 0 65%;
  }

  &__input {
    padding: 1.2em 2em;
    border-radius: 2.7rem;
    border: 0.1rem solid var(--color-secondary-pale-blue);
    width: 95%;

    &::placeholder {
      color: var(--color-secondary-pale-blue);
      font-size: 1.6rem;
      font-weight: 300;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-neutral-gray);
  font-size: 1.4rem;
  & > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  &__icon-container {
    display: flex;
    justify-content: center;

    & > *:not(:last-child) {
      margin-right: 1.2rem;
    }
  }
  &__social-media-icon {
    width: 3rem;
    height: 3rem;
    box-shadow: 0 0px 3px var(--color-secondary-pale-blue);
    border-radius: 50%;
    padding: 0.3em;
    fill: var(--color-primary-blue);
  }
}
