.u-mb-sm {
  margin-bottom: 2rem;
}

.u-mb-m {
  margin-bottom: 4rem;
}

.u-mb-b {
  margin-bottom: 10rem;
}

.active {
  display: block;
}

.red {
  border-color: var(--color-secondary-light-red);
  color: var(--color-secondary-light-red);
}
